---
import Button from "../../components/ui/Button.astro";
---

<section class="relative h-screen overflow-hidden z-0">
    <div
        class="flex flex-col justify-center h-full container-padding relative z-10"
    >
        <div class="max-container">
            <div class="ml-auto max-w-4xl text-right">
                <h1 class="text-hero font-black mb-8">
                    <span class="text-primary block">Gemeinsam</span>
                    <span class="text-primary block">neues schaffen</span>
                    <span class="text-primary block">im Dialog</span>
                </h1>
                <div class="space-y-1">
                    <p class="text-hero-sub font-light">mit Künstlicher</p>
                    <p class="text-hero-sub font-light">Intelligenz</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Bottom Bar -->
    <div class="absolute bottom-28 inset-x-0 container-padding z-20">
        <div class="max-container flex justify-between items-center">
            <div class="space-y-1">
                <h2 class="text-4xl font-bold tracking-tight">Rico Loschke</h2>
                <p class="text-white text-xl tracking-wide">
                    Vermittelt ganzheitliches Wissen zu generativer KI
                </p>
            </div>
            <Button href="/contact"> Kontakt aufnehmen </Button>
        </div>
    </div>
</section>

<style>
    section {
        isolation: isolate;
    }
</style>
