---
interface Props {
  title?: string;
  className?: string;
}

const { title, className = "" } = Astro.props;
---

<section class={`section-content ${className}`}>
  {title && <h2 class="section-title">{title}</h2>}
  <div class="section-content-wrapper">
    <slot />
  </div>
</section>

<style>
  .section-content {
    margin-bottom: 2rem;
    position: relative;
  }
  
  .section-title {
    margin-bottom: 1rem;
  }
</style>
