<button
    id="theme-toggle"
    class="fixed top-4 right-4 p-2 rounded-lg bg-white dark:bg-base-darkest hover:bg-gray-100 dark:hover:bg-base-darker transition-colors duration-200 border border-primary"
    aria-label="Toggle Dark Mode"
>
    <svg
        id="sun-icon"
        class="w-6 h-6 hidden dark:block text-primary"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"
        ></path>
    </svg>
    <svg
        id="moon-icon"
        class="w-6 h-6 block dark:hidden text-primary"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
        ></path>
    </svg>
</button>

<script is:inline>
    function toggleTheme() {
        if (document.documentElement.classList.contains("dark")) {
            document.documentElement.classList.remove("dark");
            localStorage.theme = "light";
        } else {
            document.documentElement.classList.add("dark");
            localStorage.theme = "dark";
        }
    }

    // Add click event listener after DOM is loaded
    document.addEventListener("DOMContentLoaded", () => {
        const themeToggle = document.getElementById("theme-toggle");
        themeToggle?.addEventListener("click", toggleTheme);
    });
</script>
